/*!
 * WebSharks™ Core Resets; copyright: © 2012 (coded in the USA)
 * GPL license <https://github.com/websharks/core>
 */
/**
 * WebSharks™ Core Resets
 *
 * Copyright: © 2012 (coded in the USA)
 * {@link http://www.websharks-inc.com WebSharks™}
 *
 * @author JasWSInc
 * @package WebSharks\Core
 * @since 120318
 */

/* Basics & Inheritance
<https://developer.mozilla.org/en-US/docs/Web/CSS/inherit> */
/* noinspection ALL */

.wsc-v000000-dev,
.wsc-v000000-dev *
{
	margin              : 0;
	padding             : 0;
	outline             : 0;

	background          : none;
	opacity             : inherit;
	color               : inherit;
	font-size           : inherit;
	line-height         : inherit;
	font-family         : inherit;
	text-indent         : inherit;
	direction           : inherit;
	text-align          : inherit;
	text-justify        : inherit;
	text-shadow         : inherit;
	text-outline        : inherit;
	text-decoration     : inherit;
	text-overflow       : inherit;
	text-transform      : inherit;
	font-variant        : inherit;
	text-wrap           : inherit;
	word-wrap           : inherit;
	word-break          : inherit;
	word-spacing        : inherit;
	white-space         : inherit;
	letter-spacing      : inherit;

	clip                : auto;
	float               : none;
	clear               : none;

	width               : auto;
	height              : auto;
	min-width           : 0;
	min-height          : 0;
	max-width           : none;
	max-height          : none;
	overflow            : visible;

	list-style          : none;

	border              : 0;
	border-spacing      : 0;
	box-sizing          : content-box;
	border-collapse     : collapse;
	table-layout        : auto;

	vertical-align      : baseline;

	z-index             : auto;
	top                 : auto;
	right               : auto;
	bottom              : auto;
	left                : auto;
	position            : static;

	box-shadow          : none;
	appearance          : normal;
	visibility          : visible;
	backface-visibility : visible;
}

/* Parent Styles from which to Inherit */

.wsc-v000000-dev
{
	cursor          : auto;

	opacity         : 1;
	color           : #000000;
	font-size       : 14px;
	line-height     : 1;
	font-family     : sans-serif;
	text-indent     : 0;
	direction       : ltr;
	text-align      : left;
	text-justify    : auto;
	text-shadow     : none;
	text-outline    : none;
	text-decoration : none;
	text-overflow   : clip;
	text-transform  : none;
	font-variant    : normal;
	text-wrap       : normal;
	word-wrap       : normal;
	word-break      : normal;
	white-space     : normal;
	word-spacing    : normal;
	letter-spacing  : normal;
}

/* Block & Inline Elements
<https://developer.mozilla.org/en-US/docs/Web/HTML/Block-level_elements> */

.wsc-v000000-dev address,
.wsc-v000000-dev article,
.wsc-v000000-dev aside,
.wsc-v000000-dev audio,
.wsc-v000000-dev blockquote,
.wsc-v000000-dev canvas,
.wsc-v000000-dev dd,
.wsc-v000000-dev div,
.wsc-v000000-dev dl,
.wsc-v000000-dev fieldset,
.wsc-v000000-dev figcaption,
.wsc-v000000-dev figure,
.wsc-v000000-dev footer,
.wsc-v000000-dev form,
.wsc-v000000-dev h1,
.wsc-v000000-dev h2,
.wsc-v000000-dev h3,
.wsc-v000000-dev h4,
.wsc-v000000-dev h5,
.wsc-v000000-dev h6,
.wsc-v000000-dev header,
.wsc-v000000-dev hgroup,
.wsc-v000000-dev hr,
.wsc-v000000-dev noscript,
.wsc-v000000-dev ol,
.wsc-v000000-dev output,
.wsc-v000000-dev p,
.wsc-v000000-dev pre,
.wsc-v000000-dev section,
.wsc-v000000-dev table,
.wsc-v000000-dev tfoot,
.wsc-v000000-dev ul,
.wsc-v000000-dev video
{
	display : block;
}
.wsc-v000000-dev b,
.wsc-v000000-dev big,
.wsc-v000000-dev i,
.wsc-v000000-dev small,
.wsc-v000000-dev tt,
.wsc-v000000-dev abbr,
.wsc-v000000-dev acronym,
.wsc-v000000-dev cite,
.wsc-v000000-dev code,
.wsc-v000000-dev dfn,
.wsc-v000000-dev em,
.wsc-v000000-dev kbd,
.wsc-v000000-dev strong,
.wsc-v000000-dev samp,
.wsc-v000000-dev var,
.wsc-v000000-dev a,
.wsc-v000000-dev bdo,
.wsc-v000000-dev br,
.wsc-v000000-dev img,
.wsc-v000000-dev map,
.wsc-v000000-dev object,
.wsc-v000000-dev q,
.wsc-v000000-dev span,
.wsc-v000000-dev sub,
.wsc-v000000-dev sup,
.wsc-v000000-dev button,
.wsc-v000000-dev input,
.wsc-v000000-dev label,
.wsc-v000000-dev select,
.wsc-v000000-dev textarea
{
	display : inline;
}

/* Preformatted Tags */

.wsc-v000000-dev pre,
.wsc-v000000-dev select
{
	white-space : pre;
}

/* Monospace Tags */

.wsc-v000000-dev tt, code
{
	font-family : monospace;
}

/* Quotes */

.wsc-v000000-dev q,
.wsc-v000000-dev blockquote
{
	quotes : none;
}
.wsc-v000000-dev q:before,
.wsc-v000000-dev q:after,
.wsc-v000000-dev blockquote:before,
.wsc-v000000-dev blockquote:after
{
	content : '';
	content : none;
}

/* Images */

.wsc-v000000-dev img
{
	vertical-align : bottom;
}